/*loginbar*/
#loginbar{
  height:28px;
  background:#F2F2F2;
  .loginbar{
    height:28px;
    div.fl{
      position:relative;
      p{
        font-size:12px;
        height:28px;
        width:119px;
        line-height:28px;
        text-align:center;
        span.city{
          color:#F52648;
          font-weight:bold;
          cursor:pointer;
          i{
            display:inline-block;
            width:8px;
            height:4px;
            margin-bottom:2px;
            background:url(../img/icons.png) no-repeat -96px 0px;
          }
        }
      }
      div.d_city{
        position:absolute;
        left:0px;
        top:27px;
        z-index:1;
        display:none;
        width:313px;
        height:243px;
        border:1px solid #ccc;
        background:#fff;
        ul{
          overflow:hidden;
          padding:4px 0 0 20px;
          li{
            float:left;
            font-size:12px;
            line-height:33px;
            margin-right:34px;
            cursor:pointer;
            &:hover{
              color:#f00;
            }
          }
        }
      }
    }
    p.city_p{
      position:absolute;
      left:0;
      top:0;
      z-index:2;
      background:#fff;
      border:1px solid #ccc;
      border-top:0;
      border-bottom:1px solid #fff;
    }
    a.tellf{
      float:right;
      position:relative;
      width:93px;
      height:28px;
      span.tel_sp{
        position:absolute;
        left:0;
        top:0;
        z-index:2;
        width:93px;
        height:28px;
        color:#F52648;
        font-size:12px;
        line-height:28px;
        text-align:center;
        cursor:pointer;
        i{
          display:inline-block;
          width:9px;
          height:14px;
          background:url(../img/icons2.png) no-repeat -541px -257px;
        }
      }
      span.tel_change{
        background:#fff;
        border:1px solid #ccc;
        border-top:0;
        border-bottom:1px solid #fff;
        z-index:20;
      }
      div.tel_d{
        position:absolute;
        left:0;
        top:27px;
        z-index:10;
        display:none;
        background:#fff;
        width:139px;
        height:172px;
        border:1px solid #ccc;
        padding:19px 0 10px 13px;
        img{
          width:112px;
          height:112px;
          margin-bottom:10px;
        }
        .i1{
          display:inline-block;
          width:19px;
          height:19px;
          background:url(../img/icons2.png) no-repeat -536px -284px;
          vertical-align:middle;
          margin-left:10px;
        }
        .i2{
          display:inline-block;
          width:19px;
          height:19px;
          background:url(../img/icons2.png) no-repeat -536px -316px;
          vertical-align:middle;
        }
        span{
          font-size:12px;
          color:#000;
          vertical-align:middle;
        }
      }
    }
    span.loginbar-save{
      float:right;
      font-size:12px;
      line-height:28px;
      color:#515151;
      margin-right:10px;
      cursor:pointer;
    }
    .loginbar-links{
      float:right;
      width:77px;
      height:28px;
      position:relative;
      a{
        position:absolute;
        left:0;
        top:0;
        z-index:2;
        width:77px;
        height:28px;
        font-size:12px;
        color:#515151;
        line-height:28px;
        text-align:center;
        i{
          display:inline-block;
          width:8px;
          height:4px;
          margin-bottom:2px;
          background:url(../img/icons.png) no-repeat -96px 0px;
        }
      }
      a.change{
        background:#fff;
        border:1px solid #ccc;
        border-top:0;
        border-bottom:1px solid #fff;
        z-index:20;
      }
      .links_h{
        position:absolute;
        left:0;
        top:27px;
        z-index:10;
        display:none;
        width:139px;
        height:224px;
        background:#fff;
        font-size:12px;
        padding-left:13px;
        border:1px solid #ccc;
        ul{
          overflow:hidden;
          li{
            float:left;
            line-height:29px;
            margin-right:20px;
            &:nth-child(2){
              margin-right:0;
            }
          }
        }
        img{
          margin-top:5px;
          margin-bottom:10px;
        }
        span{
          display:block;
          text-align:center;
          color:#f00;
        }
      }
    }
    .loginbar-my{
      position:relative;
      float:right;
      width:77px;
      height:28px;
      font-size:12px;
      a.myorder{
        position:absolute;
        left:0;
        top:0;
        z-index:2;
        width:77px;
        height:28px;
        font-size:12px;
        color:#515151;
        line-height:28px;
        text-align:center;
        cursor:pointer;
        i{
          display:inline-block;
          width:8px;
          height:4px;
          margin-bottom:2px;
          background:url(../img/icons.png) no-repeat -96px 0px;
        }
      }
      a.change{
        background:#fff;
        border:1px solid #ccc;
        border-top:0;
        border-bottom:1px solid #fff;
      }
      div{
        position:absolute;
        left:0;
        top:26px;
        z-index:1;
        display:none;
        width:77px;
        height:70px;
        border:1px solid #ccc;
        border-top:0;
        padding-left:8px;
        background:#fff;
        a{
          color:#000;
          line-height:30px;
          &:hover{
            color:#f00;
          }
        }
      }
    }
    span.loginbar-wel{
      float:right;
      font-size:12px;
      line-height:28px;
      text-align:center;
      cursor:pointer;
    }
    a.login{
      display:inline-block;
      line-height:12px;
      color:#F52648;
      &:nth-child(1){
        border-right:1px solid #000;
      }
    }
  }
}

/*header*/
#header{
  height:131px;
  background:#FFFFFF;
  .header{
    height:131px;
    h1{
      float:left;
      margin-top:10px;
      a{
        display:block;
        width:170px;
        height:90px;
        text-indent:-9999em;
        background:url(../img/logo.png) no-repeat;
      }
    }
    .search{
      float:left;
      width:400px;
      height:131px;
      margin-left:130px;
      padding-top:40px;
      .ip1{
        width:330px;
        height:40px;
        border:2px solid #F52648;
        border-right:0 none;
        color:#8F8F8F;
        padding-left:20px;
      }
      .ip2{
        width:70px;
        height:40px;
        background:#F52648;
        color:#fff;
        font-weight:bold;
        cursor:pointer;
      }
      p{
        font-size:12px;
        padding-left:12px;
        padding-top:5px;
        a{
          color:#F52648;
        }
      }
    }
    .shopping{
      .shopping-btn{
        float:right;
        position:relative;
        z-index:8;
        width:136px;
        height:40px;
        background:url(../img/icons.png) no-repeat 0 -112px;
        margin-top:40px;
        strong{
          position:absolute;
          left:102px;
          top:10px;
          width:20px;
          height:20px;
          text-align:center;
          color:#fff;
        }
      }
      .shopping-btn2{
        display:none;
        float:right;
        position:relative;
        width:300px;
        height:173px;
        padding-top:40px;
        .shopping-title{
          position:relative;
          height:42px;
          width:300px;
          background:url(../img/icons.png) no-repeat 0 -156px;
          strong{
            position:absolute;
            left:268px;
            top:10px;
            width:20px;
            height:20px;
            text-align:center;
            color:#fff;
          }
        }
        .shopping-content{
          display:none;
          position:relative;
          z-index:50;
          width:300px;
          background:#fff;
          border:1px solid #ccc;
          border-top:0;
        }
        .gwclist{
          position:relative;
          z-index:50;
          width:300px;
          padding:12px 10px 10px 15px;
          background:#fff;
          border:1px solid #ccc;
          border-top:0;
          ul{
            li{
              padding:10px 6px 12px;
              font-size:12px;
              border-bottom:1px dashed #ccc;
              img{
                float:left;
                width:53px;
                height:68px;
                margin-right:9px;
              }
              p{
                float:left;
                width:109px;
                height:68px;
                font-size:12px;
                color:#666666;
              }
              span{
                float:right;
              }
            }
          }
          .gwc_b{
            padding-top:13px;
            .gwc_b_l{
              width:170px;
              height:36px;
              p{
                font-size:12px;
                color:#666666;
              }
            }
            .gwc_b_r{
              padding-top:6px;
              a{
                display:block;
                width:100px;
                height:30px;
                background:#f00;
                color:#fff;
                border-radius:5px;
                text-align:center;
                line-height:30px;
                font-size:12px;
              }
            }
          }
        }
      }
    }
  }
}
/*nav*/
#nav{
  height:40px;
  background:#F7254A;
  .nav{
    height:40px;
    .classify{
      float:left;
      position:relative;
      height:40px;
      width:220px;
      background:#D52440;
      font-size:12px;
      font-weight:bold;
      color:#fff;
      text-align:center;
      line-height:40px;
      i.classify_i{
        display:inline-block;
        width:10px;
        height:6px;
        vertical-align:middle;
        background:url(../img/tubiaos.png) no-repeat 0 0;
        margin-left:5px;
      }
      .nav1{
        position:absolute;
        left:0;
        top:40px;
        z-index:3;
        width:220px;
        height:0;
        overflow:hidden;
        font-size:12px;
        color:#000;
        background:#F7F7F7;
        .kuai{
          position:relative;
          padding:0px 13px 0px 13px;
          .hufu{
            width:194px;
            padding-bottom:10px;
            padding-top:10px;
            border-bottom:1px solid #ccc;
            h3{
              width:194px;
              height:25px;
              text-align:left;
              line-height:20px;
              padding-bottom:2px;
              img{
                margin-right:5px;
              }
              span{
                display:inline-block;
                vertical-align:middle;
                font-weight:bold;
                font-size:14px;
              }
            }
            ul{
              overflow:hidden;
              width:194px;
              height:64px;
              margin-left:5px;
              li{
                float:left;
                width:63px;
                line-height:30px;
                text-align:left;
                margin-right:1px;
                cursor:pointer;
                font-weight:300;
                &:hover{
                  color:#f00;
                }
              }
            }
          }
          .daohang{
            position:absolute;
            left:220px;
            top:0;
            display:none;
            overflow:hidden;
            width:692px;
            height:186px;
            z-index:3;
            font-size:12px;
            padding:20px 20px 25px;
            line-height:25px;
            background:#fff;
            .fenlei{
              float:left;
              width:310px;
              overflow:hidden;
              margin-bottom:15px;
              h3{
                float:left;
                width:70px;
                text-align:left;
                font-weight:bold;
                cursor:pointer;
                &:hover{
                  color:#f00;
                }
              }
              ul{
                float:right;
                overflow:hidden;
                width:240px;
                border-bottom:1px dashed #CCCCCC;
                li{
                  float:left;
                  color:#ccc;
                  font-weight:normal;
                  margin-right:19px;
                  line-height:25px;
                  cursor:pointer;
                }
              }
              &:nth-child(odd){
                margin-right:30px;
              }
            }
          }
          &:hover .daohang{
            display:block;
          }
          &:hover{
            background:#fff;
          }
        }
        //.yinc{
        //  height:0;
        //  overflow:hidden;
        //}
        //&:hover .yinc{
        //  height:110px;
        //  background:#fff;
        //  overflow:visible;
        //  transition:all .2s;
        //}
        //.more{
        //  height:0;
        //  overflow:hidden;
        //  a{
        //    color:#000;
        //  }
        //}
        //.jiantou{
        //  height:30px;
        //  text-align:center;
        //  i{
        //    display:inline-block;
        //    width:23px;
        //    height:13px;
        //    background:url(../img/nav_jt.png) no-repeat ;
        //  }
        //}
        .jiantou{
          display:none;
        }
        .more{
          height:30px;
          //overflow:visible;
          a{
            color:#000;
          }
        }
      }
      &:hover .nav1{
        height:580px;
        overflow:visible;
        transition:all .3s;
        box-shadow: 0 0 7px #ccc;
      }
      //&:hover i.classify_i{
      //  transform:rotate(180deg);
      //  transition:all .3s;
      //}
    }
    a.nav_a{
      float:left;
      width:200px;
      height:40px;
      line-height:40px;
      text-align:center;
      color:#fff;
      font-weight:bold;
      font-size:12px;
    }
    div.fr{
      i{
        display:inline-block;
        width:23px;
        height:25px;
        margin:7px;
        background-image:url(../img/icons.png);
        background-repeat:no-repeat;
        &:nth-child(1){
          background-position:-96px -13px;
        }
        &:nth-child(2){
          background-position:-119px -13px;
        }
        &:nth-child(3){
          background-position:-142px -13px;
        }
      }
    }
  }
}

/*totop*/
.totop{
  display: none;
  position: fixed;
  bottom: 100px;
  left: 50%;
  height: 60px;
  width:50px;
  margin-left: 520px;
  background-color: #fff;
  border: 1px #ccc solid;
  cursor: pointer;
  i{
    display: inline-block;
    background: url(../img/tubiaos.png) no-repeat -229px -243px;
    width: 27px;
    height: 39px;
    margin: 12px;
  }
}

/*sao*/
.sao{
  position: fixed;
  top: 30%;
  right: 50%;
  z-index: 999;
  display: none;
  width: 144px;
  margin-right: 510px;
  .mifeng{
    position: relative;
    width: 144px;
    height: 208px;
    background: url(../img/tubiaos.png) no-repeat -118px -24px;
    i{
      position: absolute;
      right: 0;
      top: 80px;
      display: inline-block;
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }
  span{
    width: 67px;
    height: 75px;
    display: inline-block;
    background: url(../img/tubiaos.png) no-repeat;
    margin-left: 67px;
    cursor: pointer;
    &.sp1{
      margin-top: 20px;
      background-position: 0 -306px;
    }
    &.sp2{
      background-position: -67px -381px;
    }
  }
}

/*service*/
#service{
  .service{
    ul{
      height: 138px;
      border-bottom: 1px dotted #c1c1c1;
      li{
        float:left;
        background-image: url(../img/icons.png);
        background-repeat: no-repeat;
        height: 79px;
        width: 215px;
        margin: 30px auto;
        margin-left: 107px;
        &:nth-child(1){
          background-position: 0 -197px;
        }
        &:nth-child(2){
          background-position: 0 -278px;
        }
        &:nth-child(3){
          background-position: 0 -359px;
        }
      }
    }
  }
}

/*links*/
#links{
  height:250px;
  .links{
    height:250px;
    border-bottom: 1px dotted #c1c1c1;
    dt{
      float: left;
      width: 216px;
      padding: 30px 30px 0 0;
      strong{
        display: block;
        width: 174px;
        height: 112px;
        background:url(../img/icons3.png) no-repeat -315px -259px;
        margin-top: 10px;
      }
      em{
        display: block;
        text-indent: 8px;
        font-size:12px;
      }
    }
    dd{
      float: left;
      padding: 20px 80px 0 0;
      strong{
        font-size: 16px;
        line-height: 80px;
        font-weight: normal;
        color: #666;
      }
      a{
        display: block;
        font-size:12px;
        line-height: 22px;
        color: #666;
      }
      &.f-sao1{
        strong{
          font-size: 16px;
          line-height: 80px;
          font-weight: normal;
        }
        b{
          display: block;
          width: 86px;
          height: 86px;
          border: 1px solid #ccc;
          background:url(../img/icons3.png) no-repeat -229px -368px;
          padding: 4px;
          font-style: normal;
          font-weight: normal;
        }
      }
    }
  }
}

/*footer*/
#footer{
  .footer{
    font-size:12px;
    line-height: 22px;
    text-align: center;
    overflow: hidden;
    color: #999;
    .footer_t{
      margin-top:20px;
      margin-bottom: 20px;
      a{
        padding: 0 20px 0 0;
        padding-right: 70px !important;
        color: #000;
        display: inline-block;
      }
    }
    .footer_b{
      a{
        margin-right: 20px;
        display: inline-block;
        width: 110px;
        height: 40px;
        overflow: hidden;
        padding: 0 !important;
        line-height: 321px;
        &:nth-child(1){
          height: 36px;
          background:url(../img/footer_tu2.jpg) no-repeat;
        }
        &:nth-child(2){
          height: 36px;
          background:url(../img/footer_tu3.jpg) no-repeat;
        }
        &:nth-child(3){
          height: 36px;
          background:url(../img/footer_tu4.jpg) no-repeat;
        }
        &:nth-child(4){
          height:37px;
          background:url(../img/icons3.png) no-repeat -194px -277px;
        }
        &:nth-child(5){
          width: 104px;
          background:url(../img/icons3.png) no-repeat -194px -315px;
          height: 37px;
        }
      }
    }
  }
}