#main {
  background: #F5F5F5;
}

#main .main {
  font-size: 12px;
  margin-bottom: 20px;
}

#main .main .main_t p {
  line-height: 60px;
  font-size: 12px;
}

#main .main .main_t p a {
  color: #999999;
}

#main .main .main_t p a i {
  display: inline-block;
  width: 5px;
  height: 8px;
  margin: 0px 5px;
  background: url(../img/icons.png) no-repeat -121px 0;
}

#main .main .main_t p span {
  color: #f00;
}

#main .main .main_tu {
  width: 100%;
  padding: 15px 30px 0 29px;
  background: #fff;
  margin-bottom: 15px;
}

#main .main .main_tu .tu_l {
  width: 602px;
}

#main .main .main_tu .tu_l h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
}

#main .main .main_tu .tu_l p {
  font-size: 16px;
  line-height: 25px;
  color: #999999;
}

#main .main .main_tu .tu_l .zhutu {
  position: relative;
  border: 1px solid #ccc;
}

#main .main .main_tu .tu_l .zhutu img {
  width: 600px;
  height: 348px;
}

#main .main .main_tu .tu_l .zhutu .small {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  width: 100px;
  height: 58px;
  border: 1px solid #ccc;
}

#main .main .main_tu .tu_l .zhutu .big {
  position: absolute;
  left: 602px;
  top: 0;
  display: none;
  width: 300px;
  height: 174px;
  border: 1px solid #ccc;
  overflow: hidden;
}

#main .main .main_tu .tu_l .zhutu .big img {
  position: absolute;
  left: 0;
  top: 0;
  width: 1800px;
  height: 1044px;
}

#main .main .main_tu .tu_l .tu_l_b {
  height: 59px;
  padding: 18px 10px 0 30px;
}

#main .main .main_tu .tu_l .tu_l_b .tips {
  float: left;
  height: 22px;
  padding: 0 10px;
  line-height: 22px;
  text-align: center;
  margin-right: 10px;
  border: solid #ccc 1px;
  border-radius: 12px;
}

#main .main .main_tu .tu_l .tu_l_b .share {
  position: relative;
}

#main .main .main_tu .tu_l .tu_l_b .share i.share_i {
  float: left;
  width: 14px;
  height: 16px;
  background: url(../img/icons4.png) no-repeat -179px -382px;
  margin-right: 3px;
}

#main .main .main_tu .tu_l .tu_l_b .share b {
  float: right;
  font-weight: normal;
  color: #999;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang {
  position: absolute;
  left: -20px;
  top: 20px;
  z-index: 5;
  display: none;
  width: 90px;
  height: 30px;
  padding: 5px;
  border: 1px solid #E8DCBB;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang span {
  position: absolute;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang span.sj1 {
  left: 50%;
  top: -7px;
  display: block;
  width: 0;
  height: 0;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #E8DCBB transparent;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang span.sj2 {
  left: 50%;
  top: -6px;
  display: block;
  width: 0;
  height: 0;
  border-width: 0 7px 7px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang .tus i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 1px;
  cursor: pointer;
  background-image: url(../img/icons4.png);
  background-repeat: no-repeat;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang .tus i:nth-child(1) {
  background-position: 0px -382px;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang .tus i:nth-child(2) {
  background-position: -21px -382px;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang .tus i:nth-child(3) {
  background-position: -42px -382px;
}

#main .main .main_tu .tu_l .tu_l_b .share .kuang .tus i:nth-child(4) {
  margin-right: 0;
  background: url(../img/weixin.jpg) no-repeat;
}

#main .main .main_tu .tu_l .tu_l_b .share:hover .kuang {
  display: block;
}

#main .main .main_tu .tu_r {
  width: 310px;
}

#main .main .main_tu .tu_r .logo {
  padding: 20px 0 24px 212px;
}

#main .main .main_tu .tu_r .logo img {
  width: 98px;
  height: 48px;
  cursor: pointer;
}

#main .main .main_tu .tu_r .tu_r_c {
  padding-top: 20px;
  border-top: 1px dashed #ccc;
  border-bottom: 1px dashed #ccc;
}

#main .main .main_tu .tu_r .tu_r_c p:nth-child(2) {
  margin-bottom: 40px;
}

#main .main .main_tu .tu_r .tu_r_c p:nth-child(2) i {
  display: inline-block;
  width: 39px;
  margin: 0 10px 0 5px;
  vertical-align: middle;
  font-style: normal;
  color: #fff;
  height: 23px;
  background: url(../img/youfei.png) no-repeat -117px 0;
}

#main .main .main_tu .tu_r .tu_r_b {
  padding-top: 25px;
}

#main .main .main_tu .tu_r .tu_r_b .shuliang {
  height: 25px;
  margin-bottom: 20px;
}

#main .main .main_tu .tu_r .tu_r_b .shuliang span {
  color: #999;
  margin-right: 20px;
}

#main .main .main_tu .tu_r .tu_r_b .shuliang input {
  height: 25px;
  width: 27px;
  border: 1px solid #ccc;
  background: #FFFFFF;
  color: #929292;
  text-align: center;
}

#main .main .main_tu .tu_r .tu_r_b .shuliang input.num {
  width: 49px;
  border-right: 0;
  border-left: 0;
  color: #000;
}

#main .main .main_tu .tu_r .tu_r_b .cartBtn {
  width: 176px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  font-size: 15px;
  background: #F82143;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

#main .main .xiangqing {
  width: 762px;
  border: 1px solid #ccc;
}

#main .main .xiangqing .xiangqing_t {
  background: #FAFAFA;
}

#main .main .xiangqing .xiangqing_t div {
  width: 138px;
  height: 52px;
  position: relative;
}

#main .main .xiangqing .xiangqing_t div span {
  display: block;
  width: 138px;
  height: 52px;
  text-align: center;
  line-height: 52px;
  color: #000;
  cursor: pointer;
}

#main .main .xiangqing .xiangqing_t div span.cur {
  position: absolute;
  top: 1px;
  left: 0;
  background: #fff;
  border-top: 2px solid #f00;
  border-bottom: 1px solid #fff;
}

#main .main .xiangqing .xiangqing_t p {
  display: none;
  padding: 0 8px;
  text-align: right;
  float: right;
  overflow: hidden;
  line-height: 40px;
}

#main .main .xiangqing .xiangqing_t p strong {
  color: red;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-right: 10px;
}

#main .main .xiangqing .xiangqing_t p del {
  margin-right: 10px;
}

#main .main .xiangqing .xiangqing_t p span {
  display: inline-block;
  width: 110px;
  height: 28px;
  line-height: 30px;
  text-align: center;
  padding-left: 10px;
  color: #fff;
  cursor: pointer;
  background: url(../img/icons5.png) no-repeat -175px -206px;
}

#main .main .xiangqing .xiangqing_t.fixed {
  position: fixed;
  top: 0;
  left: 0;
}

#main .main .xiangqing .xiangqing_t.fixed p {
  display: block;
}

#main .main .xiangqing .xiangqing_c {
  padding: 15px 15px 0px 15px;
  background: #fff;
}

#main .main .xiangqing .xiangqing_c table {
  width: 665px;
  margin-left: 20px;
  border-color: #ccc;
}

#main .main .xiangqing .xiangqing_c table td {
  background-color: #fafafa;
  font-size: 14px;
  color: #333;
  padding: 8px 10px;
  border-top: solid 1px #fff;
  border-right: solid 1px #fff;
}

#main .main .xiangqing .xiangqing_c table .title {
  background-color: #f2f2f2;
  width: 90px;
}

#main .main .xiangqing .xiangqing_c .cont {
  display: block;
  padding: 20px 0 20px;
  background-color: #fff;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
}

#main .main .xiangqing .xiangqing_b {
  background: #fff;
  padding: 0 20px;
}

#main .main .xiangqing .xiangqing_b h4 {
  height: 50px;
  margin: 20px auto 20px;
  background: url(../img/chengnuo.jpg) no-repeat;
}

#main .main .xiangqing .xiangqing_b ul {
  height: 157px;
  width: 725px;
  padding: 0 0 0 1px;
  margin: 0 auto;
  background: url(../img/xuanchuan.jpg) no-repeat bottom center;
}

#main .main .xiangqing .xiangqing_b ul li {
  float: left;
  width: 142px;
  height: 88px;
  color: #999;
  font: bold 14px/2 \5FAE\8F6F\96C5\9ED1;
  text-align: center;
  cursor: pointer;
}

#main .main .xiangqing .xiangqing_b ul li i {
  display: inline-block;
  width: 72px;
  height: 61px;
  margin: 6px 10px;
  background: url(../img/icons5.png) no-repeat;
  background-color: #fff;
}

#main .main .xiangqing .xiangqing_b ul li:nth-child(1) i {
  background-position: 0 -183px;
}

#main .main .xiangqing .xiangqing_b ul li:nth-child(2) i {
  background-position: 0 -122px;
}

#main .main .xiangqing .xiangqing_b ul li:nth-child(3) i {
  background-position: 0 -61px;
}

#main .main .xiangqing .xiangqing_b ul li:nth-child(4) i {
  background-position: 0 -244px;
}

#main .main .xiangqing .xiangqing_b ul li:nth-child(5) i {
  background-position: 0 0;
}

#main .main .xiangqing .xiangqing_b .tab {
  width: 640px;
  padding: 20px;
  margin: 0 auto;
}

#main .main .xiangqing .xiangqing_b .tab img {
  display: block;
  width: 640px;
}

#main .main .guess {
  width: 228px;
  background: #fff;
}

#main .main .guess h3 {
  height: 50px;
  color: #666;
  font-size: 14px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  background-color: #fff;
}

#main .main .guess h3 i {
  display: inline-block;
  height: 14px;
  width: 2px;
  background-color: #f52648;
}

#main .main .guess ul {
  padding: 0 14px;
}

#main .main .guess ul li {
  border-bottom: 1px dashed #ccc;
  width: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
  cursor: pointer;
}

#main .main .guess ul li img {
  width: 190px;
  height: 210px;
}

#main .main .guess ul li p {
  line-height: 20px;
}

#main .main .guess ul li span {
  font-size: 14px;
  color: #f00;
}

#main .main .guess ul li del {
  color: #999999;
}

/*tc*/
.tc {
  position: fixed;
  width: 530px;
  height: 240px;
  left: 50%;
  top: 50%;
  margin: -120px 0 0 -265px;
  padding-top: 70px;
  background: #fff;
  border-radius: 10px;
}

.tc p {
  text-align: center;
}

.tc p:nth-child(1) {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 20px;
}

.tc p:nth-child(1) span {
  display: inline-block;
  width: 24px;
  height: 22px;
  background: url(../img/tc.png) no-repeat;
  vertical-align: middle;
  margin-right: 14px;
}

.tc p:nth-child(2) {
  font-size: 12px;
  color: #999999;
  margin-bottom: 17px;
}

.tc p:nth-child(2) span {
  color: #000;
}

.tc p:nth-child(3) {
  height: 40px;
}

.tc p:nth-child(3) a {
  display: inline-block;
  width: 110px;
  height: 40px;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  background: #E62449;
  border-radius: 5px;
  margin-right: 20px;
}

.tc p:nth-child(3) span {
  font-size: 12px;
  color: #CA8516;
}

.tc .btn {
  position: absolute;
  right: 13px;
  top: 13px;
}
